@import '../../assets/styles/utils';

.table__content {
  flex-grow: 1;
  position: relative;
  width: 90%;
  height: 75%;
  padding-top: px2vh(46);
  background: rgba(21, 70, 120, 0.3);
  border: 2px solid #1785F6;
  border-radius: 8px;

  //overflow-x: auto;
  //overflow-y: auto;
  will-change: transform;
  direction: ltr;

  table {
    width: 100%;
    table-layout: fixed;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;

    td {
      border-bottom: 1px solid rgba(203, 203, 203, .2);
      padding-bottom: 1px;
    }
  }

  .table__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: px2vh(46);
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      appearance: none;
    }

    table {
      height: 100%;
    }
  }

  .table__header-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(21, 70, 120, 0.9);
    border-radius: 8px;
  }

  .table__th {
    //height: px2vh(46);
    //line-height: px2vh(46);
    text-align: center;
    font-size: px2vh(20);
    color: #ffffff;
    font-family: Adobe Heiti Std;
    font-weight: normal;
  }

  .table__body {
    width: 100%;
    height: px2vh(420 - 46);
    padding: 4px;
  }

  .table__body--wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: px2vh(4);
      height: px2vh(8);
      background-color: #003E6F;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0085FE;
      border-radius: px2vh(4);
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: px2vh(4);
      height: px2vh(8);
      width: px2vh(4);
    }
  }

  .table__tr {
    display: table-row;
    width: 100%;
    height: px2vh(32);
    font-size: px2vw(16);
    color: #94A5BE;
    font-family: Adobe Heiti Std;
    font-weight: normal;
  }

  .table__th,
  .table__td {
    display: table-cell;
    width: 25%;
    padding: px2vw(6);
    //padding-right: px2vw(8);
    text-align: center;
    @include text-overflow;

    //&:nth-child(1) {
    //  width: 10%;
    //}
  }

  .table-ceil__wrapper {
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
}

.popup__container {
  position: fixed;
  background-size: 100%;
  color: #ffffff;
  //z-index: 10001;
  z-index: 1;

  .popup__category {
    margin: 0 px2vw(40);
    font-size: px2vw(20px);
    text-align: center;
    background-size: 100% 100%;
    cursor: pointer;

    &.active {
      //background-image: url("./images/people-total-active-category.png");

      border-bottom: px2vw(8) solid #0091FF;
    }
  }

  .popup__dragable-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: px2vh(80);
    z-index: 9;
  }

  .popup__content {
    display: flex;
    min-height: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .popup__close {
    position: absolute;
    right: px2vh(30);
    top: px2vh(30);
    width: px2vh(22);
    height: px2vh(22);
    background-image: url("../../assets/images/icon-popup-close.png");
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 99;
  }

  .popup__header {
    width: 100%;
    display: flex;
    margin-bottom: px2vh(30);
    justify-content: center;
  }
}

.table__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 46px);
  font-size: px2vw(16);
  color: #94A5BE;
  font-family: Adobe Heiti Std;
  font-weight: normal;
}

.popup__title-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: px2vw(40);
  @include flex-center;
}

.popup-title {
  font-size: 120%;
  height: px2vw(42);
  width: px2vw(300);
  @include flex-center;

  background-image: url("../../assets/images/bg-popup-title.png");
  @include bg-size;
}
