.navigation {
  position: absolute;
  top: 54px;
  right: 60px;
  z-index: 11;
  cursor: pointer;


  .fenceng {
    position: relative;
    background-image: url('images/btn_fenceng.png');
    width: 92px;
    height: 28px;

    .text {
      width: 42px;
      height: 30px;
      font-size: 17px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      color: #4EF9FF;
      letter-spacing: 2px;
      margin: 0 auto;
      line-height: 1.4;
      user-select: none;
    }

    .icon {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 20px;
      height: 20px;
    }

    .shouqi {

    }

    .expand {

    }
  }
  .floor-list-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 92px;
    height: 28px;
    background: transparent;
    //overflow: hidden;
  }


  .floor-list {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    transition: top 1s;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .floor-item {
    cursor: pointer;
    user-select: none;
  }

  .f1 {
    background-image: url('images/btn_lc.png');
    width: 71px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;

    .text-f1 {
      width: 21px;
      height: 27px;
      font-size: 18px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      color: #4EF9FF;
      margin: 0 auto;
    }
  }

  .f2 {
    background-image: url('images/btn_lc.png');
    width: 71px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;

    .text-f2 {
      width: 21px;
      height: 27px;
      font-size: 18px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      color: #4EF9FF;
      margin: 0 auto;
    }
  }

  .f3 {
    background-image: url('images/btn_lc.png');
    width: 71px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;

    .text-f3 {
      width: 21px;
      height: 27px;
      font-size: 18px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      color: #4EF9FF;
      margin: 0 auto;
    }
  }

  .f4 {
    background-image: url('images/btn_lc.png');
    width: 71px;
    height: 27px;
    margin: 0 auto;
    margin-top: 5px;

    .text-f4 {
      width: 21px;
      height: 27px;
      font-size: 18px;
      font-family: Source Han Sans CN-Medium, Source Han Sans CN;
      color: #4EF9FF;
      margin: 0 auto;
    }
  }
}
