<<<<<<< HEAD
.h-simple-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
=======
.h-simple-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
>>>>>>> cc04770de46141d43f763beb6813d08c222386d6
